@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 402px){
    menu {
        padding-top: 10px;
        font-size: .9em;
    }
}
body {
    position: relative;
    font: normal 1em arial;
    background: lightgray url(../images/image.png) center no-repeat fixed;
    background-size: cover;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
header {
    background-color: rgb(8, 59, 2);
    margin-bottom: 30px;
    height: 100px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.539);

}
header > h1 {
    font-family: "Schoolbell", cursive;
    color: white;
    text-align: center;
    padding-top: 10px;
}
menu > ul > li > a{
    color: white;
    text-decoration: none;
    font-family: "Schoolbell", cursive;
    padding: 10px;
}
menu > ul > li > a:hover {
    text-decoration: underline;
    color: rgb(169, 168, 168);
}
menu ul {
    margin: 0;
    padding-top: 10px;
}
menu > ul > li {
    display: inline-block;
}
section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);

    margin: auto;
    max-width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.345);
}
input {
    padding: 2px;
    margin: 3px;
}
select {
    margin-top: 10px;
}